:root {
  --title: 255, 255, 255;
  --bg-2: #c4c4c4;
  --gap-length: 20px;
}

/* Transitions */

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-from-left {
  from {
    opacity: 0;
    transform: translateX(-25%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slide-from-right {
  from {
    opacity: 0;
    transform: translateX(25%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

body {
  background-color: var(--bg-2);
  width: 100%;
  overflow-x: hidden;
}

#title {
  color: rgb(var(--title));
}

.header {
  max-height: 1080px;
  overflow: hidden;
}

#about-image {
  display: block;
  position: relative;
  width: 100%;
  z-index: -1;
  animation: fade-in 1s ease forwards;

}

.overview {
  position: absolute; 
  top: calc(70px + 20vw);
  left: 4vw;
  filter: drop-shadow(0 0 5px rgba(09, 0, 0, 0.3));
}

.overview > h1 {
  animation: slide-from-left 1s ease forwards;
}

.overview > h2 {
  opacity: 0;
  animation: slide-from-left 1.2s 0.1s ease forwards;
}

h1 {
  color: white;
  font-size: 6vw;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

h2 {
  color: white;
  font-size: calc(10px + 1vw);
  line-height: calc(15px + 1vw);
  font-weight: 300;
}

.flex-wrapper {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  margin: var(--gap-length);
  gap: var(--gap-length);
  justify-content: center;
}

.flex-wrapper > div:nth-child(2n + 1) {
  animation: slide-from-left 1s ease forwards;
}

.flex-wrapper > div:nth-child(2n) {
  animation: slide-from-right 1s ease forwards;
}

.skill {
  background-color: white;
  border-radius: 20px;
  padding: 25px 50px 40px;
  min-width: 200px;
  flex-grow: 1;
}

h3 {
  color: rgb(var(--secondary));
  font-size: calc(25px + 1vw);
  margin: 0 0 .4em 0;
  padding: 0;
}

.skill-grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3px;
  font-size: calc(13pt + .5vh);
  font-weight: 500;
}

.exp {
  font-weight: 300;
}

@media only screen and (max-width: 851px) {
  h3 {
    text-align: center;
  }

  .skill-grid-wrapper {
    column-gap: var(--gap-length);
  }

  .type {
    text-align: right;
  }

  .exp {
    text-align: left;
    align-self: center;
  }
  
}