#main-container {
  position: relative;
  width: 80vw;
  height: auto;
  padding-top: 90px;
  left: 5vw;
}

h1 {
  color: var(--secondary);
  font-size: calc(35pt + 1.5vw);
  font-weight: 700;
  margin: 0;
}

#header-title {
  animation: slide-from-top 0.75s ease forwards;
}

h2 {
  color: var(--secondary);
  font-size: calc(20pt + .5vw);
  font-weight: 300;
  margin: 0;
}

#header-description {
  animation: slide-from-bottom 0.75s ease forwards;
}

h3 {
  color: var(--secondary);
  font-size: calc(20pt + 1.5vw);
  font-weight: 700;
  margin: 0;
}

p {
  color: var(--secondary);
  font-size: calc(10pt + 1vw);
  font-weight: 300;
  margin: 0;
}

.project-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 40px;
}

.card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  margin-right: 40px;
  padding: 15px 30px;
  width: 220px;
  min-width: 220px;
  height: 180px;
  box-sizing: border-box;
  border-radius: 18px;
  background-color: rgb(var(--secondary));
  opacity: 0;
}

.project-description {
  height: 80%;
}

.project-link {
  display: block;
  text-decoration: none;
  color: inherit;
  transition: .2s;
}

.project-description > p, .project-description > .project-link{
  opacity: 0;
}

.project-link:hover {
  color: var(--active);
  letter-spacing: 3px;
}

.lr-bar {
  height: 10px;
  min-width: 50px;
  width: auto;
  border-radius: 2px;
}

#bw-gradient {
  background-image: -moz-linear-gradient( 0deg, rgb(0,0,0) 0%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(0,0,0) 0%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(0,0,0) 0%, rgb(255,255,255) 100%);
}

#temp-gradient {
  background-image: -moz-linear-gradient( 0deg, rgb(14,0,255) 0%, rgb(253,250,3) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(14,0,255) 0%, rgb(253,250,3) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(14,0,255) 0%, rgb(253,250,3) 100%);
}

#tint-gradient {
  background-image: -moz-linear-gradient( 0deg, rgb(255,0,255) 0%, rgb(0,255,0) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(255,0,255) 0%, rgb(0,255,0) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(255,0,255) 0%, rgb(0,255,0) 100%);
}

#sat-gradient {
  background-image: -moz-linear-gradient( 0deg, rgb(0,0,0) 0%, rgb(255,0,0) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(0,0,0) 0%, rgb(255,0,0) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(0,0,0) 0%, rgb(255,0,0) 100%);
}

#spotify-unpacker {
  background-color: rgb(20, 20, 20);
  background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(57,57,57,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(57,57,57,1) 100%);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(57,57,57,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#393939",GradientType=1);
}

#sp-link:hover {
  color: rgb(67, 186, 98);
  letter-spacing: 1.5px;
}

@media only screen and (max-width: 800px) {

  h2 {
    font-size: 20pt;
  }

  .card {
    margin-right: 20px;
  }
}
