:root {
  --primary: #11151c;
  --secondary: #364156;
  --tertiary: #ffffff;
  --tertiary_rgb: 255, 255, 255;
}

body {
  background-color: var(--primary);
  font-family: 'Lato', arial;
  margin: 0;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#circle {
  border-radius: 50%;
  width: 500px;
  height: 500px;
  background-color: var(--tertiary);
  box-shadow: 0 0 50px rgba(var(--tertiary_rgb), 0.3);
  -webkit-box-shadow: 0 0 50px rgba(var(--tertiary_rgb), 0.3);
  -moz-box-shadow: 0 0 50px rgba(var(--tertiary_rgb), 0.3);
  animation: moon ease-in-out 6s infinite;

}

@keyframes moon {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

.wave-container {
  width: 700px;
  height: 45%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, 0%);
  overflow: hidden;
  border-radius: 5px 5px 50% 50%;
}

#wave {
  width: 200%;
  fill: var(--primary);
  animation: wave linear 3s infinite;
}

.reflect-container-1 {
  width: 400px;
  height: 35%;
  position: absolute;
  top: 64%;
  left: 50%;
  transform: translate(-50%, 0%);
  overflow: hidden;
}

#reflect-1 {
  width: 200%;
  fill: rgba(var(--tertiary_rgb), .4);
  animation: wave linear 3s infinite;
  z-index: 1;
}

.clip-container-1 {
  width: 400px;
  height: 35.3%;
  position: absolute;
  top: 64.7%;
  left: 50%;
  transform: translate(-50%, 0%);
  overflow: hidden;
}

.reflect-container-2 {
  width: 300px;
  height: 27%;
  position: absolute;
  top: 73%;
  left: 50%;
  transform: translate(-50%, 0%);
  overflow: hidden;

}

#reflect-2 {
  width: 200%;
  fill: rgba(var(--tertiary_rgb), .2);
  animation: wave linear 3.5s infinite;
  z-index: 1;
}

.clip-container-2 {
  width: 300px;
  height: 26.5%;
  position: absolute;
  top: 73.5%;
  left: 50%;
  transform: translate(-50%, 0%);
  overflow: hidden;
}

#wave-clip-1 {
  width: 200%;
  fill: var(--primary);
  animation: wave linear 3s infinite;
  z-index: 2;
}

#wave-clip-2 {
  width: 200%;
  fill: var(--primary);
  animation: wave linear 3.5s infinite;
  z-index: 2;
}

@keyframes wave {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}
