:root {
    --black: #000000;
    --dark-gray: #403e3e;
    --light-green: #cedad6;
    --white: #ffffff;
    font-size: 16px;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: var(--black);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    gap: calc(25px + 1.5%);
    padding: 45px;
    /* color: var(--white); */
}

#nav-title {
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: .5px;
    margin-right: auto;
}

nav a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}