:root {
  --primary: #0f121a;
  --secondary: #364156;
  --tertiary: #ffffff;
  --tertiary_rgb: 255, 255, 255;
  --r1: 214, 241, 255;
  --r2: 159, 202, 224;
  --r3:112, 160, 186;

  --bg: #2d3747;
}

body {
  background-color: var(--primary);
  color: var(--tertiary);
  font-family: 'Lato', arial;
  margin: 0;
}

.moon-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

#moon {
  width: 500px;
  max-width: 60vw;
  max-height: 60vh;
  fill: var(--tertiary);
  filter: drop-shadow(0 0 20px rgba(var(--tertiary_rgb), 0.3));
  animation: moon ease-in-out 6s infinite;
}

@keyframes moon {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

.wave-container {
  position: absolute;
  width: 100vw;
  height: auto;
  top: 0;
  margin-top: 30px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.wave-container > :first-child {
  margin-top: 53vh;
}

.wave-container > div {
  overflow: hidden;
}

.wave-silhouette-container {
  position: absolute;
  width: 700px;
  max-width: 70vw;
  height: 350px;
  top: 51vh;
  left: 50%;
  transform: translate(-50%, 0);
  overflow: hidden;
}

#wave {
  width: 200%;
  fill: var(--primary);
  animation: wave linear 3s infinite;
}


.reflect-clip-1 {
  width: 500px;
  max-width: 45vw;
}

#reflect-1 {
  width: 215%;
  fill: rgba(255, 0, 0, 0.0);
  stroke: rgba(var(--r1), .9);
  stroke-width: 6pt;
  animation: wave linear 3s infinite;
  z-index: 1;
}

.reflect-clip-2 {
  width: 300px;
  max-width: 33vw;
}

#reflect-2 {
  width: 230%;
  fill: rgba(255, 0, 0, 0.0);
  stroke: rgba(var(--r2), .6);
  stroke-width: 6pt;
  animation: wave linear 3s infinite;
  z-index: 1;
}

.reflect-clip-3 {
  width: 150px;
  max-width: 20vw;
}

#reflect-3 {
  width: 245%;
  fill: rgba(255, 0, 0, 0.0);
  stroke: rgba(var(--r3), .3);
  stroke-width: 6pt;
  animation: wave linear 3s infinite;
  z-index: 1;
}

@keyframes wave {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.navbar {
  display: flex;
  background-color: rgba(0,0,0,0);
}

.nav-item {
  padding: 20pt 10pt 4pt 10pt;
  transition: 0.3s;
  letter-spacing: 1pt;
  text-decoration: none;
  color: var(--tertiary);
  z-index: 2;
}

.nav-item:hover {
  letter-spacing: 2pt;
}

#title {
  padding-left: 25pt;
  font-size: 20pt;
  font-weight: 700;
}
